.header {
	display: flex;
	align-items: center;
}
.navigation {
	padding: 10px 0px 10px 0px;
}
.navigation ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #8B0000;
}
.listItem {
	display: inline;
	font-size: 20px;
}
.bar {
	background-color: #8B0000;
}
.row {
	display: flex;
}
.column {
	flex: 50%;
	padding:  5px;
}
footer {
	text-align: center;
}