.header {
	display: flex;
	align-items: center;
}
.navigation {
	padding: 10px 0px 10px 0px;
}
.navigation ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #8B0000;
}
.listItem {
	display: inline;
	font-size: 20px;
}
.listItem a {
	font-weight: bold;
	color: white;
	text-decoration: none;
	margin-left: 15px; 
}
.bigHeader {
	text-align: center;
	font-size: 130px;
}
.bar {
	background-color: gray;
	font-weight: bold;
	font-size: 20px;
	color: white;
	padding-left: 15px;
}
.row {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
}
.border {
	height: 10px;
	background-color: grey;
}
.column {
	flex: 50%;
	padding:  5px;
}
.thick {
	font-weight: bold;
	font-size: 45px;
}
footer {
	text-align: center;
}
.end {
	font-size: 30px;
}